*.img
*.simg
*.sif
.pytest_cache
__pycache__
storage/processed/*
storage/cache/*
storage/external/joern-cli/*
storage/external/MSR_data_cleaned.csv
*.egg-info
output
.vscode/sftp.json
hpc/logs/*
.dccache
**/*.pyc
**/*.gzip
**/workspace
